/*body*/
.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #252422;
}

.sct-admin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 600px;
}

.name {
  display: flex;
  width: 220px;
  justify-content: space-between;
}
.admin-information {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 100px;
}

.admin-tasks {
  width: 800px;
  height: 400px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.lista {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 750px;
  height: 200px;
}

.slt-tasks {
  width: 200px;
}

/*footer*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 134px;
  width: 100%;
  background: #ea784c;
  color: #fffcf2;
}

.footer > div > a {
  text-decoration: none;
  color: #fffcf2;
}

.footer > div > a:hover {
  text-decoration: none;
}

/*btn editar*/
.btn-admin-editar {
  width: 160px;
  height: 40px;
}

h1 {
  font-weight: bold;
  font-size: 26px;
}

#orange-title {
  color: #ea784c;
}
