* {
  --colorUno: #fffcf2;
  --colorDos: #ccc5b9;
  --colorTres: #403d39;
  --colorCuatro: #252422;
  --colorCinco: #eb5e28;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--colorUno);
}

#listSection {
  padding: 2%;
  height: 600px;
  margin: 25px;
}

#titleList {
  border-bottom: var(--colorDos) 2px solid;
  color: var(--colorCinco);
  font-weight: bold;
}

.contentTable {
  border-collapse: collapse;
  margin-bottom: 250px;
  min-width: 400px;
  box-shadow: 0 0 20px var(--colorDos);
}

.contentTable thead tr {
  background-color: var(--colorCinco);
  color: var(--colorUno);
  text-align: left;
  font-weight: bold;
}

.contentTable thead th,
.contentTable thead td {
  padding: 12px 15px;
}

.contentTable tbody tr {
  border-bottom: 1px solid var(--colorTres);
}

.contentTable tbody tr:nth-of-type(even) {
  background-color: var(--colorDos);
  color: var(--colorUno);
  text-align: left;
  font-weight: bold;
}

.contentTable tbody tr:last-of-type {
  border-bottom: 2px solid var(--colorCinco);
}

.btnContainer {
  display: flex;
}

.btn {
  background: var(--colorCuatro);
  color: var(--colorUno);
  border: 2px solid var(--colorCuatro);
  cursor: pointer;
  font-weight: bold;
  height: 40px;
  margin-left: 20px;
  width: 120px;
}

.btn:hover {
  background: var(--colorCinco);
}

/*footer*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 120px;
  width: 100%;
  background: #252422;
  color: #fffcf2;
  /*   bottom: 0;
    position: absolute; */
}

.footer > div > a {
  text-decoration: none;
  color: #fffcf2;
}

.footer > div > a:hover {
  text-decoration: none;
  color: #eb5e28;
}

/*btn editar*/
.btn-container {
  display: flex;
  width: 380px;
  align-items: center;
  justify-content: center;
}

.btn-admin-editar {
  background: #403d39;
  color: #fffcf2;
  cursor: pointer;
  width: 160px;
  height: 40px;
}

.btn-admin-editar:hover {
  background: #eb5e28;
}
