/*nav*/
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    background: brown;
}

.nav > .brand-container{
    width: 50%;
    text-align: left;
    margin-left: 50px;
}

.nav > .brand-container > a{
   text-decoration: none;
   color: #fff;
   font-weight: bold;
}

.ul{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    color: #fff;
}

.ul > li > a{
    text-decoration: none;
    color: #fff;
}

.ul > li > a:hover{
    text-decoration: underline;
}

/*signin-section*/
.signin{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.form{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 400px;
    width: 25%;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.mt-3{
    margin-top: 30px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.mt-3 > a{
    font-size: 14px;
    align-self: flex-end;
    margin-right: 60px;
    text-decoration: none;
}

.mt-3 > a:hover{
    text-decoration: underline;
}

.btn-signin{
    background: rgb(216, 109, 22);
    color: #fff;
    cursor: pointer;
}

.create-container > a{
    font-size: 14px;
    text-decoration: none;
}

.create-container > a:hover{
    text-decoration: underline;
}

/*footer*/



