/*nav*/
.nav-ul {
  color: #ea784c;
  font-weight: bold;
}

.nav-ul > li > a {
  font-weight: bold;
  color: #ea784c;
  opacity: 50%;
  text-decoration: underline;
}

.nav-ul > li > a:hover {
  opacity: 100%;
}

.main-section {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 150px;
}

.users-container {
  width: 1000px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  cursor: pointer;
}

.user {
  border: 1px solid black;
  width: 300px;
  height: 250px;
  background: #ea784c;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user:hover {
  background: #eb5e28;
}

h1 {
  color: #ea784c;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 150px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  width: 100px;
}
