/*nav*/
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    background: #252422;
}

.nav > .brand-container{
    width: 30%;
    text-align: left;
    margin-left: 50px;
}

.nav > .brand-container > a{
   text-decoration: none;
   color: #FFFCF2;
   font-weight: bold;
}

.ul{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.ul li{
    color: #FFFCF2;
}

.ul > li > a{
    text-decoration: none;
    color: #FFFCF2;
}

.nav > .brand-container > a:hover{
    color: #EB5E28;
 }

 .searching-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loop{
    color: #FFFCF2;
}
 
.ul > li > a:hover{
    color: #EB5E28;
}

i{
    color:#FFFCF2;;
}

i:hover{
    color:#EB5E28;;
}

body{
    background: #FFFCF2;
    color: #252422;
}

/*footer*/
.footer{
    display: flex;
    flex-direction: column;
    margin: 50px;
   /*  bottom: 0;
    position: fixed; */
}