/*nav*/
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    background: brown;
}

.nav > .brand-container{
    width: 30%;
    text-align: left;
    margin-left: 50px;
}

.nav > .brand-container > a{
   text-decoration: none;
   color: #fff;
   font-weight: bold;
}

.ul{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.ul > li > a{
    text-decoration: none;
    color: #fff;
}








/*footer*/
.footer{
    display: flex;
    flex-direction: column;
    margin: 50px;
   /*  bottom: 0;
    position: fixed; */
}