/*preview-section*/
.preview-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 50px;
}

.category-container {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px;
}

.category-content-container {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.img-container {
  height: 200px;
  width: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/*books-images (content)*/
.article-content-container {
  height: 85%;
  width: 40%;
  /* background-position: center; */
  background-size: cover;
  background-position: center;
}

#book-1 {
  background-image: url("/ProjectGM_IMG/books/el_diario.jpg");
}

#book-2 {
  background-image: url("/ProjectGM_IMG/books/harry_potter.jpg");
}

#book-3 {
  background-image: url("/ProjectGM_IMG/books/hunger_games.jpg");
}

#book-4 {
  background-image: url("/ProjectGM_IMG/books/lord_of_the_rings.jpg");
}

.book {
  height: 90%;
  background-position: top;
}

.book:hover {
  cursor: pointer;
}

#autor-1 {
  background-image: url("/ProjectGM_IMG/autores/Gabriel_Garcia_Marquez.jpg");
}

#autor-2 {
  background-image: url("/ProjectGM_IMG/autores/J.K_Rowling.jpg");
}

#autor-3 {
  background-image: url("/ProjectGM_IMG/autores/Stephen_King.jpg");
}

#autor-4 {
  background-image: url("/ProjectGM_IMG/autores/William_Shakespeare.jpg");
}

#suscription-1 {
  background-image: url("/ProjectGM_IMG/bazar/reading1.jpg");
}

#suscription-2 {
  background-image: url("/ProjectGM_IMG/bazar/reading2.jpg");
}

#suscription-3 {
  background-image: url("/ProjectGM_IMG/bazar/reading3.jpg");
}

#suscription-4 {
  background-image: url("/ProjectGM_IMG/bazar/reading4.jpg");
}

.socio {
  width: 46%;
}

#socio-comercial-1 {
  background-image: url("/ProjectGM_IMG/socios-comerciales/fischel.png");
}

#socio-comercial-2 {
  background-image: url("/ProjectGM_IMG/socios-comerciales/macdonald's.png");
}

#socio-comercial-3 {
  background-image: url("/ProjectGM_IMG/socios-comerciales/peri.png");
}

#socio-comercial-4 {
  background-image: url("/ProjectGM_IMG/socios-comerciales/walmart.jpg");
}

.link-container {
  align-self: flex-start;
  font-size: 14px;
  width: 120px;
  height: 40px;
  margin-left: 10px;
}
