/*nav*/
.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 140px;
  width: 100%;
  /*  box-shadow: 0px 10px 10px -6px #ea784c; */
  box-shadow: 0px 0px 10px 0px #ea784c inset;
}

.brand-container {
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: center;
}

.logo-producto {
  width: 130px;
  height: 120px;
  /*   background-image: url("/ProjectGM_IMG/logo-producto-negro.png"); */
  background-image: url("/ProjectGM_IMG/logo-producto-negro.png");
  background-position: center;
  background-size: cover;
}

.searching-bar-container {
  display: flex;
  width: 300px;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.input-search {
  border: 1px solid #ea784c;
  color: #ea784c;
  height: 33px;
  border-radius: 8px;
  margin-right: 15px;
  width: 260px;
}

.input-search::placeholder {
  color: #ea784c;
}

.loop {
  color: #ea784c;
  opacity: 50%;
}

.loop:hover {
  opacity: 100%;
}

.nav-ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 750px;
}

.nav-ul > li > a {
  text-decoration: none;
}

.slt-nav {
  text-align: center;
  border: 1px solid #ea784c;
  color: #ea784c;
  height: 33px;
  width: 180px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px -6px #ea784c inset;
  cursor: pointer;
}

#cart {
  color: #ea784c;
  opacity: 50%;
}

#cart:hover {
  opacity: 100%;
}

#iniciar-sesion-a {
  color: #ea784c;
  opacity: 50%;
  font-weight: bold;
}
#iniciar-sesion-a:hover {
  color: #ea784c;
  opacity: 100%;
}

/*footer*/
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 220px;
  width: 100%;
  margin-top: 30px;
  background: #ea784c;
}

.footer-child-container {
  height: 150px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  color: #fff;
}

.footer-ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  font-weight: bold;
}

.footer-ul > li > a {
  color: #fff;
  opacity: 50%;
  font-weight: normal;
}

.footer-ul > li > a:hover {
  opacity: 100%;
}

.footer-ul > li {
  cursor: pointer;
  text-decoration: underline;
  color: #fff;
  opacity: 50%;
  font-weight: normal;
}

.footer-ul > li:hover {
  opacity: 100%;
}

/*btn*/

.btn {
  background: #fff;
  color: #ea784c;
  cursor: pointer;
  width: 60%;
  height: 40px;
  border: 1px solid #ea784c;
  border-radius: 10px;
}

.btn:hover {
  color: #fff;
  background: #ea784c;
}

.negrita {
  font-weight: bold;
}
