/*nav*/

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    background: #252422;
  }
  
  .nav > .brand-container {
    width: 20%;
    text-align: left;
    margin-left: 50px;
  }
  
  .nav > .brand-container > a {
    text-decoration: none;
    color: #ccc5b9;
    font-weight: bold;
  }
  
  .ul {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
  }
  
  .ul li {
    color: #ccc5b9;
  }
  
  .ul > li > a {
    text-decoration: none;
    color: #ccc5b9;
  }
  
  .nav > .brand-container > a:hover {
    color: #eb5e28;
  }
  
  .searching-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loop {
    color: #fff;
  }
  
  .ul > li > a:hover {
    color: #eb5e28;
  }
  
  i {
    color: #ccc5b9;
  }
  
  i:hover {
    color: #eb5e28;
  }
  
  /*selection-form*/
  
  body {
    background: #fffcf2;
    color: #252422;
  }
  
  .section-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .form-container {
    width: 50%;
    height: 100%;
    padding: 50px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  #banner_inicio-container {
    /* Rectangle */
    width: 500px;
    height: 470px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    padding: 25px;
    background: #ffffff;
    border: 0px solid rgba(0, 0, 0, 0.5);
    margin-top: 2%;
  }
  
  #banner_inicio-container2 {
    /* Rectangle */
    width: 750px;
    height: 470px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    padding: 25px;
    background: #ffffff;
    border: 0px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;
    margin-top: 2%;
  }
  
  #banner_inicio-container3 {
    /* Rectangle */
    width: 750px;
    height: 200px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    padding: 25px;
    background: #ffffff;
    border: 0px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 2%;
    margin-top: 2%;
  }
  
  .mt-3 {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  /*img-section(right-section)*/
  .img-container {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 300px;
    margin-top: 50px;
  }
  
  /*fill fields*/
  .field-error {
    border: 2px solid #eb5e28;
  }
  
  /*searching-bar-container*/
  .searching-bar-container {
    display: flex;
    width: 350px;
    height: 80px;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .input-search {
    background: #eb5e28;
    color: #fffcf2;
    height: 33px;
    border: 2px solid #fffcf2;
    border-radius: 8px;
  }
  
  .input-search::placeholder {
    color: #fffcf2;
  }
  
  /*select*/
  .slt-nav {
    background: #eb5e28;
    color: #fffcf2;
    padding: 5px;
    border: none;
    cursor: pointer;
    border: 2px solid #fffcf2;
    border-radius: 8px;
  }
  
  option {
    background-color: #ea784c;
  }
  