/*nav*/
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    background: #252422;
}

.nav > .brand-container{
    width: 50%;
    text-align: left;
    margin-left: 50px;
}

.nav > .brand-container > a{
   text-decoration: none;
   color: #FFFCF2;
   font-weight: bold;
}

.ul{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.ul li{
    color: #FFFCF2;
}

.ul > li > a{
    text-decoration: none;
    color: #FFFCF2;
}

.nav > .brand-container > a:hover{
    color: #EB5E28;
 }
 
.ul > li > a:hover{
    color: #EB5E28;
}

i{
    color:#FFFCF2;;
}

/*recover-password-section*/
body{
    background: #FFFCF2;
    color: #252422;
}

.recover-password-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/*paragraph*/
.recover-password-section > p{
    margin: 50px;
}
  
/*send-code*/
.send-code-form{
    width: 50%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn-send-code{
    background: #EB5E28;
    color: #FFFCF2;
    cursor: pointer;
    width:130px;
    height: 30px;
    align-self: center;
}

/*received and change password*/
.form{
    color: #252422;
    height: 90%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
}

.required-field{
    color: #403D39;
}

.required-field::placeholder{
    color: #CCC5B9;
}

.mt-3{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn-save{
   background: #EB5E28;
    color: #FFFCF2;
    cursor: pointer;
    width:130px;
    height: 30px;
    align-self: center;
}

/*fill fields*/
.field-error{
    border: 2px solid #EB5E28;
}