/*recover-password-section*/
.recover-password-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/*paragraph*/
.recover-password-section > p {
  margin: 50px;
  color: #ea784c;
  font-weight: bold;
  font-size: 24px;
}

/*send-code*/
.send-code-form {
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn-send-code {
  width: 130px;
  height: 30px;
  align-self: center;
}

/*received and change password*/
.form {
  color: #252422;
  height: 90%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
}

.mt-3 {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn-save {
  width: 130px;
  height: 30px;
  align-self: center;
}

/*fill fields*/
.field-error {
  border: 2px solid #eb5e28;
}

/*nav*/
.nav-ul {
  color: #ea784c;
  font-weight: bold;
}

.nav-ul > li > a {
  font-weight: bold;
  color: #ea784c;
  opacity: 50%;
  text-decoration: underline;
}

.nav-ul > li > a:hover {
  opacity: 100%;
}

label {
  color: #ea784c;
  font-size: 22px;
  font-weight: 600;
}
