.section {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 1050px;
  align-items: flex-start;
  padding-left: 50px;
  justify-content: space-between;
}

.date-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  width: 100%;
  justify-content: space-evenly;
}

.date-child {
  border: 1px solid #e76f51;
  border-radius: 5px;
  height: 47px;
  width: 200px;
  color: #e76f51;
}

#button-buscar {
  height: 50px;
  width: 200px;
  border-radius: 5px;
}

h1 {
  font-size: 2em;
  margin-top: 1em;
}

#consulta-text {
  font-size: 1em;
  color: #e76f51;
  font-weight: normal;
}

div#tipo-de-relatorio a h2 {
  width: 7em;
  font-size: 2em;
  text-decoration: none;
  text-align: center;
}

div#tipo-de-relatorio a {
  text-decoration: none;
}

div#tipo-de-relatorio h2:hover {
  border-bottom: 5px solid black;
  font-weight: 600;
}

#tipo-de-relatorio {
  width: 90%;
  padding: 0 0 2.5em 0;
}

hr {
  margin-bottom: 2.5em;
}

#tabla-de-datos {
  font-size: 12px;
  color: #252422;
  width: 95%;
  margin: 0.5% 2% 2% 2%;
}

#tabla-de-datos table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

/*title table*/
#tabla-de-datos th {
  text-align: center;
  font-size: 1.25em;
  padding: 1em;
  background-color: #e76f51;
  color: white;
}

#tabla-de-datos td {
  text-align: center;
  padding: 2em;
}

#tabla-de-datos tr {
  margin: 5px 0 0 0;
}

/*cuerpo primera franja*/
#tabla-de-datos tr:nth-child(even) {
  /*   background: rgb(235, 240, 241); */
  border-top: 1px solid #e76f51;
  border-bottom: 1px solid #e76f51;
}

h1,
h3 {
  color: #e76f51;
  font-size: 28px;
}

.row {
  cursor: pointer;
}

.row:hover {
  background-color: #feddc1;
}
